.meal-container {
    padding: 20px;
    text-align: left;

    img {
        width: 100%;
    }

    ul {
        list-style-type: circle;

        .meal-ingredient {
            padding: 5px 0;
        }
    }
}
