.meal-container {
    padding: 20px;
    text-align: left;

    .left-column {
        
        img {
            width: 100%;
        }
    
        ul {
            list-style-type: circle;
    
            .meal-ingredient {
                padding: 5px 0;
            }
        }
    }

    .right-column {

        .instructions {
            line-height: 200%;
        }
    }

    .youtube-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@media (min-width: 768px) {
  
    .meal-container {
        
        .columns {
            display: flex;
            flex-direction: row;

            .left-column {
                
                img {
                    width: 300px;
                }
            }
        
            .right-column {
                margin-left: 30px;
            }
        }
    }


    @media (min-width: 1025px) {

        .meal-container {
            width: 900px;

            .columns {
    
                .left-column {
                    
                    img {
                        width: 380px;
                    }
                
                }
            }
        }
        
    }
}
